* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}

body {
  font: normal normal 16px/1.5 'Open Sans', sans-serif;
  color: #222;
  background: #eee;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

ul {
  list-style-position: inside;
}

.wrapper {
  margin: 2em;
}

.app-description {
  
}
